
:root{
    /* ## Colors */
    
    /* ### Primary */
    
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Dark-desaturated-cyan-graphic-design-text: hsl(167, 40%, 24%);
    --Dark-blue-photography-text: hsl(198, 62%, 26%);
    --Dark-moderate-cyan-footer: hsl(168, 34%, 41%);

    /* ### Neutral */

    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
    
    /* ## Typography */
    
    /* ### Body Copy */
    
    --Font-size: 18px;
    
    /* ### Font */
    
    --Family: 'Barlow', sans-serif;
    --Family2: 'Fraunces', serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
}

.main{
    width: 100%;
    min-height:100vh;
    display:flex;
    flex-direction: column;
    gap: 4.5rem;
    background-image: url(images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    font-family: var(--Family2);
    color: var(--White);
}
.header{
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin: 3%;
    font-size: 18px;
    height: 4rem;
    align-items: center;
    
}
.logo{
    width: 10rem;
    cursor: pointer;
}
.arrow-down{
    animation: bounce 1s infinite;
    width: 36px;
    cursor: pointer;
}
@keyframes bounce {
    0% {transform: scale(1,1);}
    10% {transform: scale(1.05,1.05)}
    20% {transform: scale(1.1,1.1);}
    50% {transform: scale(1.2,1.2);}
    70% {transform: scale(1.1,1.1);}
    80% {transform: scale(1.05,1.05)}
    100% {transform: scale(1,1);}
    
}

.opt{
    text-decoration: none;
    color: var(--White);
    font-weight: 900;
    }

.contact{
    font-size: 18px;
    color: var(--Very-dark-desaturated-blue);
    font-family: 900;
    background-color: var(--White);
    padding: 20px;
    padding-left:30px;
    padding-right: 30px;
    border-radius: 2rem;
}
.contact:hover{
    background-color: rgba(155, 213, 236, 0.7);
    color: var(--White);
}
.header-menu{
    display: flex;
    text-align: end;
    justify-content: flex-end;
    align-items: center;
}
.m-options{
    display: inherit;
    gap: 40px;
    align-items: center;
    visibility: visible;
}
.toggle{
    position: absolute;
    visibility: hidden;
    cursor: pointer;
}

.main-title{
    display: grid;
    height: 25rem;
    justify-items: center;
    text-align: center;
    grid-template-rows: 30% 70%;
    
}

.services{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr;
    font-family: var(--Family2);
    color: var(--Very-dark-desaturated-blue);
}
.service-p{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.brand-stand-out{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 2rem;
    padding-left: 15%;
    padding-bottom: 2rem;
    padding-right: 10%;
}
.brand{
    padding-left: 20%;
    padding-right: 8%;
}
p{
    line-height: 2rem;
    font-size: 15px;
    color: var(--Dark-grayish-blue);
    font-weight:700; 
}
.brand-p{
    padding-right:0;
}

.brand-learn{
    height: 2px;
    border-radius: 5px;
    box-shadow: 0px 15.3px 0px 4px rgba(255, 255, 0, 0.3); 
} 
.brand-learn:hover{
    box-shadow: 0px 15.3px 0px 4px var(--Yellow);
}
.stand-learn{
    height: 2px;
    border-radius: 5px;
    box-shadow: 0px 15.3px 0px 4px hsla(7, 99%, 70%, 0.3); 
}
.stand-learn:hover{
    box-shadow: 0px 15.3px 0px 4px var(--Soft-red);
}

.graphic-design{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(images/desktop/image-graphic-design.jpg);
    background-position: center;
    background-size: cover;
    
}
.design-typography{
    width: 23rem;
    display: flex;
    gap: 1.6rem;
    flex-direction: column;
    color: var(--Dark-desaturated-cyan-graphic-design-text);
    text-align: center;
    margin-top: 19rem;
}

.design-header{
    font-size:1.8rem;
    font-weight:1000;
    letter-spacing: 1px;
}

.design-p{
    font-weight: 900;
    line-height: 1.8rem;
    font-size: 1.1rem;
}
.photography{
    width: 100%;
    height: 100%;
    display: flex;
    background-image: url(images/desktop/image-photography.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    justify-content: center;
    
}
.photography-typography{
    width: 23rem;
    display: flex;
    gap: 1.6rem;
    flex-direction: column;
    color: var(--Dark-blue-photography-text);
    text-align: center;
    margin-top: 19rem;
}
.photography-header{
    font-size:1.8rem;
    font-weight:1000;
    letter-spacing: 1px;
}
.photography-p{
    font-weight: 900;
    line-height: 1.8rem;
    font-size: 1.1rem;
}

.testimonials{
    width: 100%;
    min-height: 100vh;
    display: grid;
    align-items: center;
    font-family: var(--Family);
    color: var(--Very-dark-grayish-blue);
}
.testimonials-container{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-gap:5rem;
    margin: 3%;
}
.testimonials-header{
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 1000;
    letter-spacing: 7px;
    color: var(--Dark-grayish-blue);
    opacity: 0.7;
    text-align: center;
}
.clients-t{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:2rem;
    
}

.client{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.client-img{
    margin-bottom: 3.7rem;
    width: 4.5rem;
    border-radius: 50%;
}
.client-text{
    text-align: center;
    font-weight: 600;
    line-height:2rem;
}
.name{
    margin-top: 4.5rem;
    font-weight:1000;
    letter-spacing:1px;
    font-size: 1.2rem;
    font-family: var(--Family2);
    color: var(--Very-dark-desaturated-blue);
}
.client-job{
    margin-top: 0.7rem;
    opacity: 0.5;
    font-size:14px;
    font-weight: 600;
}

.gallery{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.pic-g{
    width: 100%;
}

footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-items: center;
    background-color: hsl(168, 55%, 68%);
    gap: 2.7rem;
}
.footer-logo{
    margin-top: 4.5rem;
    width: 10.5rem;
    filter: invert(10%) sepia(37%) hue-rotate(95deg) saturate(900%) brightness(35%) contrast(70%);
    cursor: pointer;
}
.footer-menu{
    display: flex;
    gap: 3rem;
    font-size: 1.4rem;
    color: var(--Dark-moderate-cyan-footer);
}
.social-media{
    margin-top: 3rem;
    margin-bottom: 1rem;
    display: flex;
    gap: 2rem;
}
.sm{
    cursor: pointer;
}
.sm:hover{
    filter: brightness(999%);
}


h1{
    font-size: 3rem; 
    font-weight: 1000;
    letter-spacing: 12px;
}

h2{
    font-size: 2.2rem;
    font-weight: 1000;
    letter-spacing: 3px;
}

h4{
    text-align: center;
    width: 8.7rem;
    color:transparent;
    text-transform: uppercase;
    font-weight: 1000;
    text-shadow: 0px 0px 0px var(--Very-dark-desaturated-blue);
    cursor: pointer;
}
h5{
    cursor: pointer;
}
h5:hover{
    color: var(--White);
}

@media screen and (max-width:768px) {
    .main{
        background-image: url(images/mobile/image-header.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        
    }
    .header{
        margin-right: 5%;
    }
    
    .m-options{
        top:7rem ;
        right: 5%;
        left: 5%;
        width: 90%;
        position:absolute;
        background-color: var(--White);
        gap: 50px;
        visibility: hidden;
        padding-top: 2rem;
        padding-bottom: 2rem;
        z-index: 1;
        transition:ease-in-out;
    }
    .m-options-toggle{
        visibility: visible;
    }   
    .m-options::before{
        content: "";
        position: absolute;
        top: -1.75rem;
        right: 0;
        border-top: 1.8rem solid transparent;
        border-right: 25px solid var(--White);
    }
    .toggle{
        visibility: visible;
    }
    .m-options{
        flex-direction: column;
    }
    .opt{
        color: var(--Very-dark-desaturated-blue);;
    }
    .contact{
        background-color: var(--Yellow);
    }
    .contact:hover{
        background-color: hsla(51, 100%, 49%, 0.493);
        color: var(--Very-dark-desaturated-blue);
    }
    .logo{
        width: 8rem;
    }
    .services{
        grid-template-columns: 100%;
        grid-template-rows: repeat(6, 100vh);

    }
    .transforming-pic{
        grid-row-start: 1;
        
    }
    .brand-stand-out{
        padding: 4%;
        text-align: center;
        align-items: center;
    }
    .design-typography{
        width: 93%;
    }
    .design-header{
        font-size: 1.5rem;
    }
    .design-p{
        font-size: 0.8rem;
    }
    .photography-typography{
        width: 93%;
    }
    .photography-header{
        font-size: 1.5rem;
    }
    .photography-p{
        font-size: 0.8rem;
    }
    .testimonials-header{
        margin-top: 2rem;
        font-size: 1.1rem;
        letter-spacing: 3px;
    }
    .clients-t{
        grid-template-columns: 100%;
    }
    .client-text{
        font-size: 0.92rem;
    }
    .client{
        margin-bottom: 2rem;
    }
    .name{
        margin-top: 2rem;
        font-size: 1rem;
    }
    .gallery{
        grid-template-columns: repeat(2,50%);

    }
    a{
        color: var(--Dark-grayish-blue);
        font-size: 0.9rem;
    }
    h1{
        font-size: 2rem;
        letter-spacing: 5px;
    }
    h2{
        font-size: 1.5rem;
        text-align: center;
    }
    h5{
        font-size: 1rem;
    }
 
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }